.container {
    max-width: 1560px;
}

body {
    background-color: #F8F9F8;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: #36353D;
}
.logo  {
    display: flex;
    align-items: center;
}
.logo-text {
    margin-bottom: 0;
    margin-left: 20px;
    color: #000000bf;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
}
.header-top {
    padding: 18px 0 22px 0;
}
.search {
    display: flex;
    justify-content: flex-end;
}
.search__form {
    width: 100%;
    position: relative;
}
.search__input {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    box-shadow: none;
    border: 1px solid #BFBFBF;
    background-color: #F8F9F8;
    color: #36353D;
}
.search__input::placeholder {
    color: #AFAFAF;
    font-size: 16px;
}

.search__button {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    right: 14px;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;

}

.blind {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.blind__icon {
    width: 52px;
    height: 52px;
    border: 1px solid #BFBFBF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blind__text {
    margin-left: 12px;
    color: #AFAFAF;
    font-size: 13px;
}
.header-bottom {
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    padding-top: 21px;
    padding-bottom: 21px;
}
.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.menu__item {
    display: flex;
    align-items: center;
}
.menu__item:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../images/menu1.svg);
    margin-right: 12px;
    background-size: contain;
    background-repeat: no-repeat;
}
.menu__link {
    color: #36353D;
    text-decoration: none;
}
.menu-1:before {
    background-image: url(../images/menu1.svg);
}
.menu-2:before {
    background-image: url(../images/menu2.svg);
}
.menu-3:before {
    background-image: url(../images/menu3.svg);
}
.menu-4:before {
    background-image: url(../images/menu4.svg);
}
.menu-5:before {
    background-image: url(../images/menu5.svg);
}

.main-slider-wrapper {
    padding-top: 31px;
}

.main-slider {
    position: relative;
}

.main-slider__container {
    overflow: hidden;
}

.main-slider .swiper-slide {
    width: 100%;
    max-width: 1270px;
}

.main-slider .swiper-slide img {
    width: 100%;
    transition: 0.3s;
    opacity: 0.25;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    min-height: 350px;
    display: block;
    object-fit: cover;
}

.main-slider .swiper-slide-active img {
    opacity: 1;
}

.main-slider.swiper-container {
    overflow: hidden;
}

.main-slider__slide {
    position: relative;
    color: #fff;    
}

.main-slider__slide::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 65.71%, rgba(0, 0, 0, 0.64) 100%);
    z-index: 1;
}

.main-slider__slide-inner {
    padding-top: 38%;
}

.main-slider__slide-content {
    padding: 30px;
    padding-top: 0;
    position: relative;
    z-index: 2;
}

.main-slider__slide-content h2 {
    margin: 0;
    font-size: 44px;
    font-weight: 700;
}

.main-slider__slide-content p {
    margin: 5px 0 0 0;
}

.main-slider__nav {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1445px;
    width: 100%;
}

.main-slider__nav-arrow {
    width: 58px;
    height: 58px;
    background: var(--Linear, linear-gradient(90deg, #0051BA 0%, #1656A9 100%));
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.main-slider__nav-arrow--next {
    transform: rotate(180deg);
}

.main-slider__pag {
    margin-top: 15px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.main-slider__pag .swiper-pagination-bullet {
    display: block;
    margin: 0;
    width: 40px;
    height: 6px;
    border-radius: 0px;
    background-color: #D9D9D9;
    opacity: 1;
    transition: .3s;
}

.main-slider__pag .swiper-pagination-bullet-active {
    background-color: #fff;
    background: #1656A9;
}

.budget-structure__title {
    font-size: 60px;
}


@media (max-width:980px){

    .main-slider__slide::after {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 20.71%, rgba(0, 0, 0, 0.64) 100%);
    }

    .main-slider__slide-content {
        padding: 15px;
        padding-top: 0;
    }
    .main-slider__slide-content h2 {
        font-size: 24px;
    }

    .main-slider__slide-content p {
        font-size: 14px;
    }
}

@media (max-width:768px){
    .main-slider__nav-arrow {
        width: 32px;
        height: 32px;
    }

    .main-slider__nav-arrow img {
        width: 50%;
    }

    .main-slider__pag {
        margin-top: 10px;
        column-gap: 10px;
    }

    .main-slider__pag .swiper-pagination-bullet {
        width: 25px;
    }
}

@media (max-width:640px){

    .main-slider__slide-inner {
        padding-top: 120px;
    }

    .main-slider__slide-content {
        padding-top: 40px;
    }

    .main-slider__slide-content h2 {
        font-size: 22px;
    }
}